<h1>Sign in</h1>
<form method="post" action="/sessions">
  <label for="email">Email
  </label>
  <input type="email" name="email" required></input>
  <label for="password">Password
  </label>
  <input type="password" name="password"></input>
  <input type="submit" value="log in"></input>
</form>
<a href="/users/recover">forgot password</a>
