<h1>Sign up</h1>
<form method="post" action="/users">
  <label for="email">Email
  </label>
  <input type="email" name="email" value='<%= @user.email %>' required></input>

  <label for="password">Password
  </label>
  <input type="password" name="password"></input>
  <label for="password_confirmation">Confirm password
  </label>
  <input type="password" name="password_confirmation"></input>
  <input type="submit" value="submit"></input>
</form>
