<h1>Sign up</h1>
<form method="post" action="/users">
  <label for="email">Email
  </label>
  <input type="text" name="email"></input>

  <label for="password">Password
  </label>
  <input type="password" name="password"></input>
  <input type="submit" value="submit"></input>
</form>
