<head>
  <link rel="stylesheet" href="/css/main.css"/>
</head>

<br><br>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>&nbsp;</td>
    <td width="500">
      <div class="maininputbox">
      <form id="recover" name="recover" method="post" action="/users">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td>&nbsp;</td>
            <td width="500">&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td width="500" align="center" class="WhiteText">Please enter your new password</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td width="500">&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td width="500" height="40">Password: <input name='password' type='password' required></td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td width="500" height="40">Password Confirmation: <input name='password_confirmation' type='password' required></td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td width="500" height="40"><input type="hidden" name="_method" value="patch"></td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td width="500" align="center"><input type="submit" name="Submit" id="Submit" value="Submit"></td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td width="500">&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td width="500">&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
        </table>
      </form>
      </div>
    </td>
    <td>&nbsp;</td>
  </tr>
</table>
