<head>
  <link rel="stylesheet" href="/css/main.css"/>
</head>

<br><br>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>&nbsp;</td>
    <td width="400">
      <div class="maininputbox">
      <form id="newentry" name="newentry" method="post" action="/links">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td>&nbsp;</td>
            <td width="400">&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td width="400" align="center" class="WhiteText">New Link</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td width="400">&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td width="400" height="40">Title: <input type="text" name="title" id="title" size="50"></td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td width="400" height="40">URL: <input type="text" name="url" id="url" size="50"></td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td width="400" height="40">Tags: <input type="text" name="tags" id="tags" size="50"></td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td width="400">&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td width="400" align="center"><input type="submit" name="Submit" id="Submit" value="Submit"></td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td width="400">&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
        </table>
      </form>
      </div>
    </td>
    <td>&nbsp;</td>
  </tr>
</table>
